/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700);

$font-family-sans-serif: "Lato", sans-serif !default;
$font-family-serif: "Lato", serif !default;
$font-family-monospace: "Fira Mono", monospace !default;

$presentation-heading-color: #105F7D;

$presentation-h1-font-size: 2em;
$presentation-h2-font-size: 1.3em;
$presentation-h3-font-size: 1.4em;
$presentation-h4-font-size: 1.1em;
$presentation-line-height: 1.5em;

$gradient-start: #1e7394; 
$gradient-end: #023d55; 

/*-- scss:rules --*/

.quarto-title-block{
    color: #fff !important;

    h1 {
        font-weight: 75;
        font-size: 2em !important;
        color:#fff;
        padding:18%;
    }

    .quarto-title-authors{
        font-size: 0.8em;
    }

    .date {
        font-size:0.5em;
    }

}

h2 {
    padding-bottom: 35px;
  }
